# NRPE Configuration File

# LOG FACILITY
log_facility=daemon

# PID FILE
pid_file=/var/run/nagios/nrpe.pid

# PORT
server_port=5666

# LISTEN QUEUE SIZE
server_address=0.0.0.0

# NRPE USER
nrpe_user=nagios
nrpe_group=nagios

# ALLOWED HOSTS
allowed_hosts=127.0.0.1,::1,172.18.0.0/16,10.0.0.0/8,192.168.0.0/16

# COMMAND ARGUMENTS
dont_blame_nrpe=1

# COMMAND PREFIX
# command_prefix=/usr/bin/sudo

# DEBUGGING
# debug=0

# COMMAND TIMEOUT
command_timeout=60

# CONNECTION TIMEOUT
connection_timeout=300

# CPU LOAD
command[check_load]=/usr/lib/nagios/plugins/check_load -w 15,10,5 -c 30,25,20

# USERS
command[check_users]=/usr/lib/nagios/plugins/check_users -w 5 -c 10

# ZOMBIE PROCS
command[check_zombie_procs]=/usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z

# TOTAL PROCS
command[check_total_procs]=/usr/lib/nagios/plugins/check_procs -w 150 -c 200

# DISK
command[check_disk]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /
command[check_disk_boot]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /boot

# MEMORY
command[check_mem]=/usr/lib/nagios/plugins/check_mem.pl -w 80 -c 90

# SWAP
command[check_swap]=/usr/lib/nagios/plugins/check_swap -w 20% -c 10%

# APT UPDATES (Debian/Ubuntu)
# command[check_apt]=/usr/lib/nagios/plugins/check_apt

# YUM UPDATES (RHEL/CentOS)
# command[check_yum]=/usr/lib/nagios/plugins/check_yum

# HTTP
command[check_http]=/usr/lib/nagios/plugins/check_http -I $ARG1$ -p $ARG2$
command[check_https]=/usr/lib/nagios/plugins/check_http -I $ARG1$ --ssl -p $ARG2$

# TCP
command[check_tcp]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p $ARG2$
command[check_udp]=/usr/lib/nagios/plugins/check_udp -H $ARG1$ -p $ARG2$

# SSH
command[check_ssh]=/usr/lib/nagios/plugins/check_ssh -H $ARG1$ -p $ARG2$

# FTP
command[check_ftp]=/usr/lib/nagios/plugins/check_ftp -H $ARG1$

# SMTP
command[check_smtp]=/usr/lib/nagios/plugins/check_smtp -H $ARG1$

# POP3
command[check_pop]=/usr/lib/nagios/plugins/check_pop -H $ARG1$

# IMAP
command[check_imap]=/usr/lib/nagios/plugins/check_imap -H $ARG1$

# PING
command[check_ping]=/usr/lib/nagios/plugins/check_ping -H $ARG1$ -w $ARG2$ -c $ARG3$ -p 5

# DNS
command[check_dns]=/usr/lib/nagios/plugins/check_dns -H $ARG1$

# DHCP
command[check_dhcp]=/usr/lib/nagios/plugins/check_dhcp -s $ARG1$

# NTP
command[check_ntp]=/usr/lib/nagios/plugins/check_ntp -H $ARG1$

# PROCS
command[check_procs]=/usr/lib/nagios/plugins/check_procs -w $ARG1$ -c $ARG2$ -C $ARG3$

# POSTGRESQL
command[check_pgsql]=/usr/lib/nagios/plugins/check_pgsql -H $ARG1$ -P $ARG2$ -d $ARG3$ -l $ARG4$ -p $ARG5$

# MYSQL
command[check_mysql]=/usr/lib/nagios/plugins/check_mysql -H $ARG1$ -P $ARG2$ -d $ARG3$ -u $ARG4$ -p $ARG5$

# REDIS
command[check_redis]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 6379

# MONGODB
command[check_mongodb]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 27017

# ELASTICSEARCH
command[check_elasticsearch]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 9200

# KIBANA
command[check_kibana]=/usr/lib/nagios/plugins/check_http -H $ARG1$ -p 5601

# LOGSTASH
command[check_logstash]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 9600

# RABBITMQ
command[check_rabbitmq]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 5672

# KAFKA
command[check_kafka]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 9092

# ZOOKEEPER
command[check_zookeeper]=/usr/lib/nagios/plugins/check_tcp -H $ARG1$ -p 2181

# DOCKER
command[check_docker]=/usr/lib/nagios/plugins/check_docker

# SYSTEMD
command[check_systemd]=/usr/lib/nagios/plugins/check_systemd

# JOURNALD
command[check_journald]=/usr/lib/nagios/plugins/check_journald

# UPTIME
command[check_uptime]=/usr/lib/nagios/plugins/check_uptime

# TEMPERATURE
command[check_temp]=/usr/lib/nagios/plugins/check_temp

# FAN
command[check_fan]=/usr/lib/nagios/plugins/check_fan

# SMART
command[check_smart]=/usr/lib/nagios/plugins/check_smart

# RAID
command[check_raid]=/usr/lib/nagios/plugins/check_raid

# LVM
command[check_lvm]=/usr/lib/nagios/plugins/check_lvm

# NETWORK INTERFACES
command[check_iftraffic]=/usr/lib/nagios/plugins/check_iftraffic -i $ARG1$ -w $ARG2$ -c $ARG3$

# BANDWIDTH
command[check_bandwidth]=/usr/lib/nagios/plugins/check_bandwidth -i $ARG1$

# PACKET LOSS
command[check_packet_loss]=/usr/lib/nagios/plugins/check_packet_loss -H $ARG1$ -w $ARG2$ -c $ARG3$

# LATENCY
command[check_latency]=/usr/lib/nagios/plugins/check_latency -H $ARG1$ -w $ARG2$ -c $ARG3$

# SSL CERTIFICATE
command[check_ssl_cert]=/usr/lib/nagios/plugins/check_ssl_cert -H $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$

# URL
command[check_url]=/usr/lib/nagios/plugins/check_http -H $ARG1$ -u $ARG2$ -p $ARG3$

# API
command[check_api]=/usr/lib/nagios/plugins/check_http -H $ARG1$ -u $ARG2$ -p $ARG3$ -e $ARG4$

# JSON API
command[check_json]=/usr/lib/nagios/plugins/check_json -H $ARG1$ -p $ARG2$ -u $ARG3$

# METRICS
command[check_metrics]=/usr/lib/nagios/plugins/check_metrics -H $ARG1$ -p $ARG2$

# LOG FILE
command[check_log]=/usr/lib/nagios/plugins/check_log -F $ARG1$ -O $ARG2$ -P $ARG3$

# FILE AGE
command[check_file_age]=/usr/lib/nagios/plugins/check_file_age -f $ARG1$ -w $ARG2$ -c $ARG3$

# FILE SIZE
command[check_file_size]=/usr/lib/nagios/plugins/check_file_size -f $ARG1$ -w $ARG2$ -c $ARG3$

# DIRECTORY SIZE
command[check_dir_size]=/usr/lib/nagios/plugins/check_dir_size -d $ARG1$ -w $ARG2$ -c $ARG3$

# BACKUP STATUS
command[check_backup]=/usr/lib/nagios/plugins/check_backup -d $ARG1$ -w $ARG2$ -c $ARG3$

# SYNCHRONIZATION
command[check_sync]=/usr/lib/nagios/plugins/check_sync -s $ARG1$ -d $ARG2$

# REPLICATION
command[check_replication]=/usr/lib/nagios/plugins/check_replication -m $ARG1$ -s $ARG2$

# CLUSTER STATUS
command[check_cluster]=/usr/lib/nagios/plugins/check_cluster -n $ARG1$

# LOAD BALANCER
command[check_lb]=/usr/lib/nagios/plugins/check_lb -H $ARG1$ -p $ARG2$

# CONTAINER
command[check_container]=/usr/lib/nagios/plugins/check_container -n $ARG1$

# POD
command[check_pod]=/usr/lib/nagios/plugins/check_pod -n $ARG1$ -N $ARG2$

# NAMESPACE
command[check_namespace]=/usr/lib/nagios/plugins/check_namespace -n $ARG1$

# NODE
command[check_node]=/usr/lib/nagios/plugins/check_node -n $ARG1$

# DEPLOYMENT
command[check_deployment]=/usr/lib/nagios/plugins/check_deployment -n $ARG1$ -N $ARG2$

# SERVICE
command[check_service_k8s]=/usr/lib/nagios/plugins/check_service -n $ARG1$ -N $ARG2$

# INGRESS
command[check_ingress]=/usr/lib/nagios/plugins/check_ingress -n $ARG1$ -N $ARG2$

# CERTIFICATE EXPIRY
command[check_cert_expiry]=/usr/lib/nagios/plugins/check_cert -H $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$

# SECURITY SCAN
command[check_security]=/usr/lib/nagios/plugins/check_security -s $ARG1$

# VULNERABILITY
command[check_vuln]=/usr/lib/nagios/plugins/check_vuln -s $ARG1$ -l $ARG2$ -c $ARG3$

# COMPLIANCE
command[check_compliance]=/usr/lib/nagios/plugins/check_compliance -s $ARG1$ -r $ARG2$

# AUDIT
command[check_audit]=/usr/lib/nagios/plugins/check_audit -l $ARG1$ -w $ARG2$ -c $ARG3$

# INCLUDES
include_dir=/etc/nagios/nrpe.d/
