# Nagios Commands Configuration for QazaqAir
# Additional commands for monitoring Docker containers and services

# NRPE check command for querying NRPE agents
define command{
    command_name    check_nrpe
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}

# HTTPS check command
define command{
    command_name    check_https
    command_line    $USER1$/check_http -H $HOSTADDRESS$ --ssl -p $ARG1$
}

# HTTP check command for specific ports
define command{
    command_name    check_http_port
    command_line    $USER1$/check_http -H $HOSTADDRESS$ -p $ARG1$
}

# TCP port check
define command{
    command_name    check_tcp_custom
    command_line    $USER1$/check_tcp -H $HOSTADDRESS$ -p $ARG1$
}

# PostgreSQL check
define command{
    command_name    check_postgres
    command_line    $USER1$/check_pgsql -H $HOSTADDRESS$ -p $ARG1$ -d $ARG2$ -U $ARG3$ -P $ARG4$
}

# Docker container check - checks if container is running
define command{
    command_name    check_docker_container
    command_line    $USER1$/check_docker --container $ARG1$ --status running
}

# Check if a specific URL returns HTTP 200
define command{
    command_name    check_url
    command_line    $USER1$/check_http -H $ARG1$ -u $ARG2$ -e 200
}

# Local system checks (aliases to local commands)
define command{
    command_name    check_load
    command_line    $USER1$/check_load -w $ARG1$,$ARG2$,$ARG3$ -c $ARG4$,$ARG5$,$ARG6$
}

define command{
    command_name    check_users
    command_line    $USER1$/check_users -w $ARG1$ -c $ARG2$
}

define command{
    command_name    check_disk
    command_line    $USER1$/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
}

define command{
    command_name    check_nagios
    command_line    $USER1$/check_nagios -F $ARG2$ -e $ARG1$
}

define command{
    command_name    check_procs
    command_line    $USER1$/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
}

define command{
    command_name    check_zombie_procs
    command_line    $USER1$/check_procs -w $ARG1$ -c $ARG2$ -s Z
}
