# QazaqAir Infrastructure Hosts Configuration for Nagios

define host {
    use                     linux-server
    host_name               localhost
    alias                   Nagios Server
    address                 127.0.0.1
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               qazaqair-app
    alias                   QazaqAir Application Server
    address                 qazaqair-app-1
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               qazaqair-db
    alias                   QazaqAir Database Server
    address                 qazaqair-db-1
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               qazaqair-nginx
    alias                   QazaqAir Nginx Proxy
    address                 nginx
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               prometheus
    alias                   Prometheus Monitoring
    address                 prometheus
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               grafana
    alias                   Grafana Dashboard
    address                 grafana
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               zabbix-server
    alias                   Zabbix Server
    address                 zabbix-server
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define host {
    use                     linux-server
    host_name               graphite
    alias                   Graphite Metrics
    address                 graphite
    check_command           check-host-alive
    max_check_attempts      3
    check_interval          5
    retry_interval          1
    check_period            24x7
    notification_interval   120
    notification_period     24x7
    notifications_enabled   1
}

define hostgroup {
    hostgroup_name          linux-servers
    alias                   Linux Servers
    members                 localhost,qazaqair-app,qazaqair-db,qazaqair-nginx,prometheus,grafana,zabbix-server,graphite
}

define hostgroup {
    hostgroup_name          qazaqair-services
    alias                   QazaqAir Services
    members                 qazaqair-app,qazaqair-db,qazaqair-nginx
}

define hostgroup {
    hostgroup_name          monitoring-servers
    alias                   Monitoring Stack
    members                 localhost,prometheus,grafana,zabbix-server,graphite
}
